:root {
    --default-chip-color: var(--pale);
    --default-chip-padding: calc(var(--padding) / 2) calc(var(--padding) / 1.33);
    --default-chip-border-radius: var(--border-radius);
    --default-chip-color-text: var(--accent);
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

p {
    font-size: var(--p);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--text-color);
    cursor: default;
}

h1.accent,
h2.accent,
h3.accent,
h4.accent,
h5.accent,
h6.accent,
p.accent {
    color: var(--accent);
}

h6:has(>span) {
    background-color: var(--chip-color, var(--default-chip-color));
    padding: var(--chip-padding, var(--default-chip-padding));
    border-radius: var(--chip-border-radius, var(--default-chip-border-radius));
    color: var(--chip-color-text, var(--default-chip-color-text));
    text-align: center;
}
