::selection {
    background-color: var(--soft-purple);
    color: var(--deep-indigo);
}

.icon {
    color: var(--icon-color);
    margin-right: 10px;
}

.chip {
    border-radius: 24px;
    background-color: var(--chip-background);
    color: var(--chip-color);
    padding: 2px 6px;
    font-size: var(--p);
}

*[class^='iconoir-'],
*[class*=' iconoir-'] {
    display: flex !important;
    flex-direction: row;
    gap: var(--gap);
    align-items: center;
}

*[class^='iconoir-']::before,
*[class*=' iconoir-']::before {
    width: 1.250em !important;
    height: 1.250em !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: 0 var(--br) var(--br) 0;
}

::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: var(--br);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--border-active);
}

.popover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popover>ul {
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--border-color);
    box-shadow: inset 0 0 0 var(--border) var(--soft-purple);
    z-index: 1000;
    border-radius: var(--border-radius);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin: 10px;
    width: max-content;
}

.popover:hover ul {
    visibility: visible;
    opacity: 1;
}

.popover>ul li {
    padding: 8px 12px;
    cursor: pointer;
}

li {
    color: var(--text-color);
    width: auto;
    display: block;
}