::selection {
    background-color: var(--accent);
    color: var(--darkets);
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: 0 var(--br) var(--br) 0;
}

::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: var(--br);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--border-active);
}
