@media (prefers-color-scheme: light) {
    :root {
        --card-color: var(--light-lavender);
        --card-border-color: var(--light-lavender);
        --card-border-color-active: var(--soft-purple);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --card-color: var();
        --card-border-color: var(--dark-plum);
        --card-border-color-active: var(--soft-purple);
    }

}

article {
    flex: 1;
    box-shadow: 0 0 0 var(--border) var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    transition:
        transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

article:hover {
    box-shadow: 0 0 0 calc(var(--border)*2) var(--border-color);
}

section:has(>header):has(>main) {
    flex-direction: column;
    gap: calc(var(--gap) * 3);
    background-color: var(--lightest);
    border-radius: var(--border-radius);
    padding: calc(var(--padding) * 1.25);
    justify-content: space-between;
}

section:has(>header):has(>main) * {
    color: var(--accent);
}

section:has(>header):has(>main)>main:has(> :only-child) {
    align-items: center;
    justify-content: center;
    text-align: center;
}
