@keyframes dialogAppear {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes backdropFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

dialog {
    filter: hue-rotate(var(--hue-offset));
    box-sizing: border-box;
    background-color: var(--background-color);
    border: var(--border) solid var(--border-color);
    border-radius: var(--border-radius);
    min-width: 400px;
    max-width: 1440px;
    max-height: 90%;
    padding: calc(var(--padding)*2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    overflow-y: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: dialogAppear 0.3s ease-out forwards;
    z-index: 1000;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);

    animation: backdropFadeIn 0.3s ease-out forwards;

    @media (max-width: 768px) {
        .overlay {
            align-items: self-end;
            padding: 0;
        }

        .overlay .menu {
            width: 100%;
            max-width: 100%;
            border-radius: var(--br) var(--br) 0 0;
        }
    }
}

@media (max-width: 768px) {
    @keyframes dialogAppearMobile {
        from {
            opacity: 0;
            transform: translateY(100%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    dialog {
        width: 100%;
        top: auto;
        left: auto;
        min-width: 10px;
        bottom: 0;
        transform: none;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        border: none;
        box-shadow: inset 0 2px 0 0 var(--border-color);
        padding-top: calc(var(--padding)*4);
        animation: dialogAppearMobile 0.3s ease-out forwards;
    }
}

dialog>section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: calc(var(--gap)*2);
}

dialog::-webkit-scrollbar {
    width: 0px;
}
