html>body {
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 100dvh;
    max-width: var(--max-width);
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    gap: 60px;
}

html>body:not(:has(> main)) {
    max-height: 100dvh;
}

body>main {
    margin: 0 auto;
    width: 100%;
    min-height: var(--vh);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body>header~main {
    padding-top: 60px !important;
    min-height: calc(var(--vh) - 60px);
}
