header {
    width: 100%;
}

body>header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
}

header>nav {
    width: 100%;
    justify-content: space-between;


}

header>nav>* {
    display: flex;
    justify-content: center;
}

main>header>nav>* {
    flex: 1;
}

header>nav>*:first-child {
    justify-content: start !important;
}

header>nav>*:last-child {
    justify-content: end;
}

@media (max-width: 768px) {
    body>header {
        bottom: 20px;
        top: auto;
    }

    body>header>nav>* {
        flex-direction: column !important;
        flex: 1;
        min-width: 80px;
        gap: 0 !important;
    }

    header>nav>*[class^='iconoir-']::before,
    header>nav>*[class*=' iconoir-']::before {
        width: 1.5em !important;
        height: 1.5em !important;
    }
}