:root {
    --animation-duration: 0.3s;
    --animation-timing: ease-in-out;
    --swipe-horizontal-distance: 100%;
    --swipe-vertical-distance: 30%;
}


*:has(> .animate[data-replaced]:not(button)) {
    display: grid;
    overflow: hidden;

}

@media (max-width: 768px) {
    body:has(> .animate[data-replaced]:not(button)) {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: minmax(0, 1fr);
    }
}

*:has(> .animate[data-replaced]:not(button))>[data-replaced]:not(button) {
    grid-area: 1 / 1;
}


.swipe-left-in {
    animation: swipe-left-in var(--animation-duration) var(--animation-timing);
}

.swipe-left-out {
    animation: swipe-left-out var(--animation-duration) var(--animation-timing);
}

@keyframes swipe-left-in {
    from {
        opacity: 0;
        transform: translateX(var(--swipe-horizontal-distance));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes swipe-left-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(calc(-1 * var(--swipe-horizontal-distance)));
    }
}

.swipe-right-in {
    animation: swipe-right-in var(--animation-duration) var(--animation-timing);
}

.swipe-right-out {
    animation: swipe-right-out var(--animation-duration) var(--animation-timing);
}

@keyframes swipe-right-in {
    from {
        opacity: 0;
        transform: translateX(calc(-1 * var(--swipe-horizontal-distance)));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes swipe-right-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(calc(1 * var(--swipe-horizontal-distance)));
    }
}


.swipe-up-in {
    animation: swipe-up-in var(--animation-duration) var(--animation-timing);
}

.swipe-up-out {
    animation: swipe-up-out var(--animation-duration) var(--animation-timing);
}

@keyframes swipe-up-in {
    from {
        opacity: 0;
        transform: translateY(calc(-1 * var(--swipe-vertical-distance)));
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes swipe-up-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(calc(1 * var(--swipe-vertical-distance)));
    }
}


.swipe-down-in {
    animation: swipe-down-in var(--animation-duration) var(--animation-timing);
}

.swipe-down-out {
    animation: swipe-down-out var(--animation-duration) var(--animation-timing);
}

@keyframes swipe-down-in {
    from {
        opacity: 0;
        transform: translateY(calc(1 * var(--swipe-vertical-distance)));
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes swipe-down-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(calc(-1 * var(--swipe-vertical-distance)));
    }
}
